---
---

@import "{{ site.theme }}";

#downloads {
  display: none;
}

.social-links a {
  text-decoration: none;
  font-size: 1.4em;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #33ff33;
}
